<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ _('Natural Resources Wales') }}/ {{ _('Fish Map Môn') }}</title>
    <link href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" rel="icon" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ url_for('static', filename='js/OpenLayers-2.12/theme/default/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />

</head>

<body>

    <div id="main">
        <div id="toolbar"><p><a href="#">{{ _('Sign in') }}</a> | 
            {% for locale in g.other_locales %}
            <a href="{{ url_for('fishmap.home', locale=locale) }}">
                {{ g.other_locales[locale] }}
            </a>
            {% endfor %}
         </p></div>
      <div id="map"></div>
    </div>

    <aside>
        <div class="heading">
            <img src="{{ url_for('static', filename='img/nrw-logo.png') }}" alt="Natural Resources Wales" />
            <h1 style="">Fish Map Môn</h1>
        </div>
        <div class="overlays"></div>
        <div class="outputs"></div>
    </aside>

    <script type="text/javascript">
        window.FISH_MAP = {
            "text": {
                // Layer and group names
                "project_area_grp": "{{ _('Project Area') }}",
                "project_area": "{{ _('Project Area') }}",
                "habitats_grp": "{{ _('Habitats') }}",
                "intertidal_habitats": "{{ _('Intertidal Habitats') }}",
                "subtidal_habitats": "{{ _('Subtidal Habitats') }}",
                "subtidal_habitats_confidence": "{{ _('Subtidal Habitats Confidence') }}",
                "restricted_grp": "{{ _('Restricted Zones') }}",
                "restricted_closed_scalloping": "{{ _('Areas Closed to Scalloping') }}",
                "several_and_regulatory_orders": "{{ _('Several and Regulatory Orders') }}",
                "rsa_sites_grp": "{{ _('Recreational Sea Anglers Sites') }}",
                "rsa_standing_areas": "{{ _('RSA Standing Areas') }}",
                "rsa_casting_sites": "{{ _('RSA Casting Areas') }}",
                "contextual_grp": "{{ _('Contextual') }}",
                "national_limits": "{{ _('National Limits') }}",
                "wrecks_polygon": "{{ _('Wrecks') }}",
                "admiralty_chart": "{{ _('Admiralty Chart') }}",
                "os_map": "{{ _('OS Map') }}",
                "no_map": "{{ _('No Map') }}",
                // Column names
                "name": "{{ _('Name') }}",
                "habitat": "{{ _('Habitat') }}",
                "confidence": "{{ _('Confidence') }}"
            },
            getText: function(id) {
                return FISH_MAP.text[id] || id;
            },
            tmplView: {
                // Convience object that can be extended for use as a Mustache
                // template view that includes a _ function that will lookup a
                // translated string either a property (expressed as {{name}})
                // or literal string.
                "_": function() {
                    return function(text) {
                        return FISH_MAP.getText(Mustache.render(text, this));
                    }
                }
            }
        };
    </script>
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mustache.js') }}"></script>
    <script src="{{ url_for('static', filename='js/OpenLayers-2.12/OpenLayers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/LegendPanel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/BaseMapSwitcher.js') }}"></script>
    <script id="treeTmpl" type="text/template">
    {% raw %}
        <ul class="tree">
        {{#groups}}
            {{#shown}}
            <li>
                <h3>{{#_}}{{id}}{{/_}}</h3>
                <ul>
                    {{#layers}}
                    <li><input type="checkbox" value="{{id}}" id="{{id}}" {{#visible}}checked="checked"{{/visible}} /> <label for="{{id}}">{{#_}}{{id}}{{/_}}</label></li>
                    {{/layers}}
                </ul>
            </li>
            {{/shown}}
        {{/groups}}
        </ul>
    {% endraw %}
    </script>
    <script id="outputTmpl" type="text/template">
    {% raw %}
        <h2>Project Outputs</h2>
        <select>
        {{#activites}}
            <option value="{{id}}">{{name}}</option>
        {{/activites}}
        </select>
        <ul class="tree">
        {{#layers}}
            {{#groups}}
                {{^shown}}
                <li>
                    <h3>{{#_}}{{id}}{{/_}}</h3>
                    <ul>
                        {{#layers}}
                        <li class="layer"><input type="checkbox" value="{{id}}" id="{{id}}" {{#visible}}checked="checked"{{/visible}} /> <label for="{{id}}">{{#_}}{{id}}{{/_}}</label></li>
                        {{/layers}}
                    </ul>
                </li>
                {{/shown}}
            {{/groups}}
        {{/layers}}
        </ul>
    {% endraw %}
    </script>
    <script id="legendTmpl" type="text/template">
    {% raw %}
        <h3>{{#_}}{{name}}{{/_}}</h3>
        <img src="{{{url}}}" alt="legend" />
    {% endraw %}
    </script>
    <script id="infoTmpl" type="text/template">
    {% raw %}
        {{#intertidal_habitats}}
        <h2>{{#_}}intertidal_habitats{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}name{{/_}}</th>
                    <td>{{attributes.lifeform}}</td>
                </tr>
                <tr>
                    <th>{{#_}}habitat{{/_}}</th>
                    <td>{{attributes.type}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/intertidal_habitats}}
        {{#subtidal_habitats}}
        <h2>{{#_}}subtidal_habitats{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}name{{/_}}</th>
                    <td>{{attributes.name}}</td>
                </tr>
                <tr>
                    <th>{{#_}}habitat{{/_}}</th>
                    <td>{{attributes.summary}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/subtidal_habitats}}
        {{#subtidal_habitats_confidence}}
        <h2>{{#_}}subtidal_habitats_confidence{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}confidence{{/_}}</th>
                    <td>{{attributes.confiden11}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/subtidal_habitats_confidence}}
        {{#restricted_closed_scalloping}}
        <h2>{{#_}}restricted_closed_scalloping{{/_}}</h2>
        <table class="info">
            <tbody>
                <tr>
                    <th>{{#_}}Description{{/_}}</th>
                    <td>{{#_}}Closed{{/_}}</td>
                </tr>
            </tbody>
        </table>
        {{/restricted_closed_scalloping}}
        {{#several_and_regulatory_orders}}
        <h2>{{#_}}several_and_regulatory_orders{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}Order Name{{/_}}</th>
                    <td>{{#_}}{{attributes.order_name}}{{/_}}</td>
                </tr>
                <tr>
                    <th>{{#_}}Order Type{{/_}}</th>
                    <td>{{attributes.order_type}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/several_and_regulatory_orders}}
        {{#rsa_standing_areas}}
        <h2>{{#_}}rsa_standing_areas{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}Activity{{/_}}</th>
                    <td>{{attributes.activity}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/rsa_standing_areas}}
        {{#rsa_casting_sites}}
        <h2>{{#_}}rsa_casting_sites{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}Activity{{/_}}</th>
                    <td>{{attributes.activity}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/rsa_casting_sites}}
        {{#wrecks_polygon}}
        <h2>{{#_}}wrecks_polygon{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}Category{{/_}}</th>
                    <td>{{attributes.catwrk}}</td>
                </tr>
                <tr>
                    <th>{{#_}}Classification{{/_}}</th>
                    <td>{{attributes.classf}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/wrecks_polygon}}
        {{#intensity_lvls_cas_hand_gath}}
        <h2>{{#_}}intensity_lvls_cas_hand_gath{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}Activity{{/_}}</th>
                    <td>{{attributes.activity}}</td>
                </tr>
                <tr>
                    <th>{{#_}}Gear class{{/_}}</th>
                    <td>{{attributes.gearclass}}</td>
                </tr>
                <tr>
                    <th>{{#_}}Gear type{{/_}}</th>
                    <td>{{attributes.geartype}}</td>
                </tr>
                <tr>
                    <th>{{#_}}Species{{/_}}</th>
                    <td>{{attributes.speciescom}}</td>
                </tr>
                <tr>
                    <th>{{#_}}Intensity Level{{/_}}</th>
                    <td>{{attributes.intensity_level}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/intensity_lvls_cas_hand_gath}}
        {{#intensity_lvls_nets}}
        <h2>{{#_}}intensity_lvls_nets{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}Activity{{/_}}</th>
                    <td>{{attributes.activity}}</td>
                </tr>
                <tr>
                    <th>{{#_}}Gear class{{/_}}</th>
                    <td>{{attributes.gearclass}}</td>
                </tr>
                <tr>
                    <th>{{#_}}Gear type{{/_}}</th>
                    <td>{{attributes.geartype}}</td>
                </tr>
                <tr>
                    <th>{{#_}}Species{{/_}}</th>
                    <td>{{attributes.speciescom}}</td>
                </tr>
                <tr>
                    <th>{{#_}}Intensity Level{{/_}}</th>
                    <td>{{attributes.intensity_level}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/intensity_lvls_nets}}
        {{#vessels_lvls_cas_hand_gath}}
        <h2>{{#_}}vessels_lvls_cas_hand_gath{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}Number of Vessels{{/_}}</th>
                    <td>{{attributes._overlaps}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/vessels_lvls_cas_hand_gath}}
        {{#vessels_lvls_nets}}
        <h2>{{#_}}vessels_lvls_nets{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}Number of Vessels{{/_}}</th>
                    <td>{{attributes._overlaps}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/vessels_lvls_nets}}
        {{#sensitivity_lvls_cas_hand_gath}}
        <h2>{{#_}}sensitivity_lvls_cas_hand_gath{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}Sensitivity level{{/_}}</th>
                    <td>{{attributes.sensitivity_level}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/sensitivity_lvls_cas_hand_gath}}
        {{#sensitivity_lvls_nets}}
        <h2>{{#_}}sensitivity_lvls_nets{{/_}}</h2>
        <table class="info">
            <tbody>
                {{#features}}
                <tr>
                    <th>{{#_}}Sensitivity level{{/_}}</th>
                    <td>{{attributes.sensitivity_level}}</td>
                </tr>
                {{/features}}
            </tbody>
        </table>
        {{/sensitivity_lvls_nets}}
    {% endraw %}
    </script>

    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

</body>
</html>
