<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ _('Natural Resources Wales') }}/ {{ _('Fish Map Môn') }}</title>
    <link href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" rel="icon" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ url_for('static', filename='js/OpenLayers-2.12/theme/default/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />

</head>

<body>

    <div id="main">
        <div id="toolbar"><p><a href="#">{{ _('Sign in') }}</a> | 
            {% for locale in g.other_locales %}
            <a href="{{ url_for('fishmap.home', locale=locale) }}">
                {{ g.other_locales[locale] }}
            </a>
            {% endfor %}
         </p></div>
      <div id="map"></div>
    </div>

    <aside>
        <div class="heading">
            <img src="{{ url_for('static', filename='img/nrw-logo.png') }}" alt="Natural Resources Wales" />
            <h1 style="">Fish Map Môn</h1>
        </div>
        <div class="overlays"></div>
    </aside>

    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mustache.js') }}"></script>
    <script src="{{ url_for('static', filename='js/OpenLayers-2.12/OpenLayers.js') }}"></script>
    <script id="treeTmpl" type="text/template">
    {% raw %}
        <ul>
        {{#groups}}
            <li>
                <h3>{{id}}</h3>
                <ul>
                    {{#layers}}
                    <li><input type="checkbox" value="{{id}}" id="lyr_{{id}}" {{#visible}}checked="checked"{{/visible}} /> <label for="lyr_{{id}}">{{id}}</label></li>
                    {{/layers}}
                </ul>
            </li>
        {{/groups}}
        </ul>
    {% endraw %}
    </script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

</body>
</html>
