/* Typography and general style */

html {
    font-size: 62.5%;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    color: #5C5C5C;
}

p {
    font-size: 1.4em;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

a {
     color: #1973B3;
}

/* Layout and Structure */

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

aside {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 300px;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
}

#main {
    position: absolute;
    top: 0px;
    left: 300px;
    right: 0px;
    bottom: 0px;
    background: white;
}

#toolbar {
    width: 100%;
    height: 22px;
    text-align: right;
    background: white;
}

#toolbar p {
    padding-right: 0.5em;
}

#map {
    position: absolute;
    top: 22px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: lightGrey;
    border: 1px solid grey;
}

.heading {
    height: 160px;
}

.heading h1 {
    float: left;
    border-left: 2px solid #bfbfbf;
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 46px;
}

.heading img {
    width: 146px;
    float: left;
}

.overlays {
    font-size: 1.2em;
}

.overlays ul {
    padding-left: 10px;
}

.overlays li {
    list-style-image: none;
    list-style-type: none;
}

.overlays h3 {
    margin-bottom: 0.4em;
}

/* OpenLayer overrides */

.olControlLayerSwitcher .layersDiv {
    background-color: #406254;
}
