/* Typography and general style */

html {
    font-size: 62.5%;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    color: #5C5C5C;
}

p {
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

a {
     color: #1973B3;
}

/* Layout and Structure */

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

aside {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 300px;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
}

#main {
    position: absolute;
    top: 0px;
    left: 300px;
    right: 0px;
    bottom: 0px;
    background: white;
}

#toolbar {
    width: 100%;
    height: 22px;
    font-size: 1.2em;
    text-align: right;
    background: white;
}

#toolbar p {
    padding-right: 0.5em;
}

#map {
    position: absolute;
    top: 22px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
    border: 1px solid grey;
}

/* Sidebar */

.heading {
    height: 145px;
}

.heading h1 {
    float: left;
    border-left: 2px solid #bfbfbf;
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 46px;
    font-size: 1.2em;
}

.heading img {
    width: 146px;
    float: left;
}

.overlays {
}

ul.tree, ul.tree ul {
    padding-left: 10px;
}

ul.tree li {
    list-style-image: none;
    list-style-type: none;
}

ul.tree li h3 {
    margin-bottom: 0.4em;
    background-image: url(../img/minus_dark.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 17px;
    cursor: pointer;
}

ul.tree li h3.collapsed {
    background-image: url(../img/plus_dark.png);
}

.outputs {
    padding-left: 10px;
}

.outputs .info {
    color: white;
    background-color: #009EAD;
    background-image: url("../img/silk/information.png");
    background-position: 0.5em 0.5em;
    background-repeat: no-repeat;
    border: 1px solid lightgray;
    margin: 0.5em;
    padding: 0.5em 0.5em 0.5em 2.5em;
}

.outputs .info > p {
    padding-bottom: 0.25em;
}

.outputs select {
    width: 100%;
}

.outputs div.activity {
    border: 1px solid lightgray;
    margin-right: 10px;
    padding: 5px;
}

.outputs form {
    display: none;
}

.outputs form fieldset {
    border: 1px solid lightgray;
}

.outputs form fieldset legend {
    font-weight: bold;
}

.outputs form .dpm label {
    display: inline-block;
    text-align: right;
    width: 65px;
}

.outputs p.buttons {
    padding-top: 0.5em;
    text-align: right;
}

.outputs .button {
    background-color: #009EAD;
    background-position: 0.5em center;
    background-repeat: no-repeat;
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
    color: white;
    display: inline-block;
    padding: 0.5em 1em 0.5em 2em;
    text-decoration: none;
}

.outputs .button.new_scenario {
    background-image: url("../img/silk/add.png");
}

/* Legend Panel */

.olControlLegendPanel {
    right: 5px;
    bottom: 5px;
    /* width: 400px; */
    background-color: white;
}

.olControlLegendPanel h2 {
    background-image: url(../img/plus.png);
    background-position: right center;
    background-repeat: no-repeat;
}

.olControlLegendPanel .open h2 {
    background-image: url(../img/minus.png);
}

.olControlLegendPanel .legend h2 {
    padding: 6px;
    border-radius: 5px 5px 0 0;
    margin: 0;
    font-size: 1.0em;
    font-weight: bold;
    color: white;
    background-color: #3f3f3f;
    vertical-align: middle;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.olControlLegendPanel .content {
    padding: 0 1em 1em 1em;
    border: 1px solid grey;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.olControlLegendPanel .content h3 {
    margin-bottom: 0;
}

/* Base Map Switcher */

.olControlBaseMapSwitcher {
    right: 5px;
    top: 5px;
}

.olControlBaseMapSwitcher a {
    background-color: #3f3f3f;
    color: #cccccc;
    display: inline-block;
    margin: 2px;
    padding: 6px 10px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-radius: 5px;
}

.olControlBaseMapSwitcher a.active {
    color: white;
    font-weight: bold;
}

/* Map Search */

.olControlMapSearch {
    right: 259px;
    top: 8px;
}

.olControlMapSearch input {
    font-size: 1.2em;
    border: 2px solid #3F3F3F;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-radius: 5px;
    background-image: url('../img/silk/magnifier.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.olControlMapSearch input.ui-autocomplete-loading {
    background-image: url('../img/loading.gif');
}

.olControlMapSearch .msg {
    font-size: 1.2em;
    padding: 0.5em;
}

/* OpenLayer overrides */

.olControlLayerSwitcher .layersDiv {
    background-color: #406254;
}

.olFramedCloudPopupContent h2 {
    margin: 0.2em;
}

.olFramedCloudPopupContent > div {
    max-height: 350px;
    max-width: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}

div.olControlScale {
    left: 3px;
}

div.olControlMousePosition {
    left: 3px;
}

div.olControlAttribution {
    left: 3px;
    bottom: 1.5em;
}
